@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-dark {
  --color-base: #1f2b1a;
  --color-main: #43533d;
  --color-sub: #ffffff;
  --color-point: #ffc64f;
}

.theme-light {
  --color-base: #abc270;
  --color-main: #fec868;
  --color-sub: #fda769;
  --color-point: #463c33;
}

.theme-purple {
  --color-base: #312c51;
  --color-main: #48426d;
  --color-sub: #f0c38e;
  --color-point: #f1aa9b;
}

html,
body {
  overflow: hidden;
  overscroll-behavior-y: none;
}

@media (prefers-color-scheme: dark) {
  .ck-blurred.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline {
    background-color: #333; /* 다크 모드에서는 어두운 회색 배경 */
  }
}
